@tailwind base;
@tailwind components;
@tailwind utilities;

@media (pointer: coarse) {
	kbd {
		display: none !important;
	}

	.showTouchscreen {
		display: block !important;
	}
}

code {
	display: inline-block;
	text-align: left;
}